.center-text {
  text-align: center;
}
.mb-big {
  margin-bottom: 8rem;
}
.mb-medium {
  margin-bottom: 4rem;
}
.mb-small {
  margin-bottom: 1.5rem;
}

.mt-lg {
  margin-top: 10rem;
}
.mt-big {
  margin-top: 8rem;
}
